@import "./base/mixins";
@import "./base/normalize";
@import "./slider";

// Header
.header {
  position: fixed;
  padding: 17px 0 23px;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  z-index: 9;

  @media only screen and (max-width: 767px) {
    padding: 15px 0 25px;
  }

  .container {
    @include flex-row(space-between, center);

    @media only screen and (max-width: 767px) {
      align-items: flex-start;
    }
  }

  &__logo {
    @include flex-row(flex-start, center, 12px);

    img {
      width: 44px;
      height: 44px;
    }

    .flex-col {
      font-size: 18px;
      font-weight: bold;
      line-height: 21px;
      @include flex-col(flex-start, center);
    }

    span {
      font-size: 13px;
      font-weight: 400;
      line-height: 15px;
    }

    @media only screen and (max-width: 767px) {
      width: 125px;
      align-items: flex-start;
      gap: 10px;

      img {
        margin-top: -2px;
        margin-left: -2px;
        width: 29px;
        height: 29px;
      }

      .flex-col {
        font-size: 11px;
        line-height: 11px;
      }

      span {
        margin-top: 5px;
        font-size: 10px;
        line-height: 12px;
      }
    }
  }

  &__phone {
    margin-left: auto;
    margin-right: 65px;
    @include flex-col(flex-start, center);

    a {
      font-size: 21px;
      line-height: 25px;
      color: var(--gray);
    }

    span {
      position: relative;
      padding-left: 13px;
      margin-top: 6px;
      font-size: 14px;
      line-height: 17px;

      &:before {
        position: absolute;
        content: "";
        top: 50%;
        left: 2px;
        width: 6px;
        height: 6px;
        margin-top: -3px;
        background: linear-gradient(180deg, #73eb95 0%, #24be62 100%);
        border-radius: 50%;
      }
    }

    @media only screen and (max-width: 1189px) {
      margin-right: 20px;
    }
    @media only screen and (max-width: 767px) {
      margin-top: -4px;
      margin-right: 0;
      align-items: flex-end;

      a {
        text-align: right;
        font-size: 17px;
        line-height: 22px;
      }

      span {
        max-width: 125px;
        font-size: 11px;
        line-height: 14px;
        text-align: right;

        &:before {
          display: none;
        }
      }
    }
  }

  &__btn {
    position: relative;
    padding-left: 50px;
    width: 205px;
    height: 50px;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;

    &::before {
      content: "";
      position: absolute;
      top: 16px;
      left: 20px;
      content: url(../images/icon-call-white.svg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 57px;
      content: url(../images/icon-call-line.svg);
    }

    @media only screen and (max-width: 1189px) {
      width: 60px;

      &::after {
        display: none;
      }

      span {
        display: none;
      }
    }

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}

// Intro
.intro {
  position: relative;
  padding: 190px 0 105px;
  width: 100%;

  @media only screen and (max-width: 1189px) {
    padding: 152px 0 85px;
  }
  @media only screen and (max-width: 767px) {
    padding: 114px 0 66px;
  }

  .container {
    @include flex-row(space-between, center, 44px);

    @media only screen and (max-width: 1189px) {
      flex-direction: column;
      align-items: center;
    }
    @media only screen and (max-width: 767px) {
      gap: 34px;
    }
  }

  &__text {
    margin-top: -40px;
    width: 100%;
    max-width: 780px;
    @include flex-col(flex-start, center);

    @media only screen and (max-width: 1189px) {
      margin-top: 0;
      max-width: 100%;
    }

    &-title {
      margin: 0 0 16px;
      font-size: 48px;
      line-height: 57px;

      @media only screen and (max-width: 1189px) {
        width: 100%;
        text-align: center;
      }

      @media only screen and (max-width: 767px) {
        font-size: 32px;
        line-height: 38px;
      }
    }

    &-subtitle {
      width: 350px;
      font-style: italic;
      font-weight: 500;
      font-size: 21px;
      line-height: 50px;
      text-align: center;
      color: #f8b917;
      background-image: url(../images/first-block-text-bg.svg);
      background-repeat: no-repeat;
      background-position: center;

      &:nth-child(2) {
        margin-left: 24px;
      }
      &:nth-child(3) {
        margin-top: -1px;
        margin-left: 55px;
        margin-bottom: 22px;
      }

      @media only screen and (max-width: 1189px) {
        &:nth-child(2) {
          margin-left: 164px;
        }
        &:nth-child(3) {
          margin-left: 194px;
        }
      }

      @media only screen and (max-width: 767px) {
        position: relative;
        margin-left: auto !important;
        margin-right: auto !important;
        font-size: 14px;
        line-height: 42px;

        &:nth-child(2),
        &:nth-child(3) {
          width: 280px;
          background-size: 280px;
        }

        &:nth-child(2) {
          left: -6px;
        }

        &:nth-child(3) {
          left: 9px;
          margin-top: -2px;
          margin-bottom: 16px;
        }
      }
    }
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: 315px 400px;
    gap: 20px;

    @media only screen and (max-width: 1189px) {
      grid-template-columns: 300px 388px;
    }
    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    &-item {
      position: relative;
      padding: 26px 20px 26px 120px;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
      background: #ffffff;
      box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      @include flex-row(flex-start, center, 15px);

      img {
        position: absolute;
        left: 8px;
        width: auto;
      }

      strong {
        font-weight: 500;
      }

      &:nth-child(1) img {
        height: 105px;
      }

      &:nth-child(2) img {
        left: 20px;
        height: 74px;
      }

      &:nth-child(3) img {
        left: 25px;
        height: 71px;
      }

      &:nth-child(4) img {
        height: 76px;
      }

      @media only screen and (max-width: 1189px) {
        padding-left: 110px;
        padding-right: 10px;
      }
      @media only screen and (max-width: 767px) {
        padding: 12px 0px 14px 87px;
        font-size: 14px;
        line-height: 17px;

        img {
          left: 10px;
        }

        &:nth-child(1) img {
          height: 68px;
        }

        &:nth-child(2) img {
          height: 48px;
        }

        &:nth-child(3) img {
          left: 25px;
          height: 45px;
        }

        &:nth-child(4) img {
          height: 45px;
        }
      }
    }
  }

  &__form {
    position: relative;
    margin-top: 10px;
    padding: 42px 45px 45px;
    background: #ffffff;
    box-shadow: 10px 15px 50px rgba(0, 0, 0, 0.08);
    border-radius: 5px;

    &::before {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      content: "";
      border: 1px solid #f4f4f4;
      border-radius: 5px;
    }

    .image-1 {
      position: absolute;
      top: 150px;
      left: 485px;
    }

    .image-2 {
      position: absolute;
      top: -10px;
      left: 355px;
      z-index: 6;
    }

    .image-3 {
      position: absolute;
      top: 10px;
      left: -115px;
    }

    .image-4 {
      position: absolute;
      top: 20px;
      left: -70px;
      max-width: 530px;
      z-index: -2;
    }

    &-content {
      position: relative;
      width: 100%;
      z-index: 2;
    }

    &-title {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 28px;
      text-align: center;

      strong {
        font-weight: 500;
      }
    }

    input {
      margin-bottom: 14px;
    }

    button {
      padding: 30px 10px;
      width: 100%;
      font-size: 19px;
      font-weight: 700;
      line-height: 20px;
      text-align: center;
    }

    &-info {
      margin-top: 20px;
      margin-left: -15px;
      margin-right: -15px;
      font-size: 12px;
      line-height: 14px;
      text-align: center;

      a {
        font-weight: 500;
        text-decoration: underline;
        color: #f8b917;
      }
    }

    @media only screen and (max-width: 1189px) {
      margin-top: 0;
      max-width: 390px;
      margin: 0 auto;
    }

    @media only screen and (max-width: 767px) {
      padding: 31px 20px 26px;

      &::before {
        display: none;
      }

      .image-1,
      .image-2,
      .image-3 {
        display: none;
      }

      .image-4 {
        top: -20px;
        left: 50%;
        margin-left: -235px;
        max-width: 470px;
      }

      &-title {
        font-size: 19px;
        line-height: 22px;
      }

      button {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
      }

      &-info {
        margin-top: 22px;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}

// Calculator
.calculator {
  position: relative;
  padding: 55px 0 30px;
  height: 590px;
  background-color: #fafafa;

  @media only screen and (max-width: 1189px) {
    height: auto;
    padding: 30px 0 42px;
  }
  @media only screen and (max-width: 767px) {
    padding: 2px 0 48px;
  }

  .container {
    position: relative;
    @include flex-row(flex-start, flex-start, 48px);

    @media only screen and (max-width: 1189px) {
      flex-direction: column-reverse;
      gap: 0;
    }
  }

  &__form {
    position: relative;
    padding: 41px 44px 40px;
    margin-top: -25px;
    width: 100%;
    max-width: 390px;
    background: #fff;
    box-shadow: 10px 15px 50px rgb(0 0 0 / 8%);
    border-radius: 5px;

    @media only screen and (max-width: 1189px) {
      margin: 0 auto;
    }
    @media only screen and (max-width: 767px) {
      padding: 26px 20px 20px;
    }

    &-result-text {
      margin-bottom: 3px;
      font-size: 19px;
      line-height: 28px;
      text-align: center;

      @media only screen and (max-width: 767px) {
        margin-bottom: 7px;
        font-size: 15px;
      }
    }

    &-result {
      margin: 0 -40px 14px;
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      text-align: center;
      color: #f8b917;
      text-align: center;

      @media only screen and (max-width: 767px) {
        margin: 0 -20px 18px;
        font-size: 36px;
        line-height: 42px;
      }
    }

    &-value-text {
      position: relative;
      margin-bottom: 4px;
      font-size: 19px;
      line-height: 28px;
      text-align: center;

      &:before {
        position: absolute;
        content: "";
        left: -34px;
        right: -34px;
        bottom: -70px;
        height: 1px;
        background: #f4f4f4;
      }

      @media only screen and (max-width: 767px) {
        margin-bottom: 0;
        font-size: 15px;
      }
    }

    &-value {
      margin-bottom: 58px;
      font-weight: 700;
      font-size: 36px;
      line-height: 28px;
      text-align: center;

      @media only screen and (max-width: 767px) {
        position: relative;
        margin-bottom: 42px;
        font-weight: 700;
        font-size: 32px;
      }
    }

    &-text {
      margin-bottom: 20px;
      font-size: 17px;
      line-height: 24px;
      text-align: center;

      @media only screen and (max-width: 767px) {
        font-size: 15px;
        line-height: 24px;

        br {
          display: none;
        }
      }
    }

    input {
      margin: 20px 0 14px;
    }

    .btn-main {
      padding: 30px 10px;
      width: 100%;
      font-size: 19px;
      font-weight: 700;
      line-height: 20px;

      @media only screen and (max-width: 767px) {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
      }
    }

    &-info {
      margin-top: 20px;
      margin-left: -15px;
      margin-right: -15px;
      font-size: 12px;
      line-height: 14px;
      text-align: center;

      a {
        font-weight: 500;
        text-decoration: underline;
        color: #f8b917;
      }

      @media only screen and (max-width: 767px) {
        margin-top: 22px;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  &__content {
    width: 100%;

    @media only screen and (max-width: 1189px) {
      margin-top: 24px;
    }

    &-title {
      margin-bottom: 36px;
      font-weight: 400;
      font-size: 42px;
      line-height: 60px;

      @media only screen and (max-width: 1189px) {
        margin-bottom: 18px;
        text-align: center;

        br {
          display: none;
        }
      }

      @media only screen and (max-width: 767px) {
        max-width: 270px;
        margin: 0 auto 20px;
        font-size: 26px;
        line-height: 34px;
      }
    }
  }

  &__block {
    position: relative;
    margin-top: 23px;
    width: 525px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 10px 15px 50px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    z-index: 2;

    @media only screen and (max-width: 1189px) {
      margin: 0 auto 30px;
    }

    @media only screen and (max-width: 767px) {
      width: auto;
      margin-bottom: 20px;
      padding: 30px 15px 16px;
    }

    &-container {
      position: relative;
      padding: 28px 35px 30px;
      border: 1px solid #f4f4f4;
      border-radius: 5px;
      z-index: 2;

      @media only screen and (max-width: 767px) {
        border: 0;
        padding: 0;
      }
    }

    &_item-line {
      position: relative;
      padding-bottom: 22px;
      line-height: 40px;

      &:first-child {
        margin-bottom: 28px;
      }

      @media only screen and (max-width: 767px) {
        &:last-child:before {
          position: absolute;
          content: "";
          top: -10px;
          left: -15px;
          right: -15px;
          height: 1px;
          background: #f4f4f4;
        }
      }

      span {
        float: left;
        font-weight: 500;
        font-size: 17px;
        line-height: 38px;

        @media only screen and (max-width: 767px) {
          display: block;
          float: none;
          margin-bottom: 6px;
          font-size: 15px;
          line-height: 24px;
          text-align: center;
        }
      }

      input {
        float: right;
        width: 140px;
        padding: 4px 12px;
        text-align: center;

        @media only screen and (max-width: 767px) {
          float: none;
          margin: 0 auto 2px;
        }
      }
    }

    &_item-line-text-left,
    &_item-line-text-right {
      position: absolute;
      bottom: 0;
      font-size: 13px;
      line-height: 24px;

      @media only screen and (max-width: 767px) {
        &_item-line-text-left,
        &_item-line-text-right {
          font-size: 11px;
        }
      }
    }

    &_item-line-text-left {
      left: 0;
    }

    &_item-line-text-right {
      right: 0;
    }
  }

  &__img {
    position: absolute;
    top: -112px;
    right: -220px;
    max-width: 507px;
    z-index: 1;

    @media only screen and (max-width: 1189px) {
      top: 0px;
      right: -321px;
    }

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}

// Type
.type {
  position: relative;
  padding: 100px 0 70px;

  @media only screen and (max-width: 1189px) {
    padding: 67px 0 75px;
  }

  @media only screen and (max-width: 767px) {
    padding: 47px 0 34px;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 42px;
    line-height: 60px;
    text-align: center;

    @media only screen and (max-width: 1189px) {
      line-height: 50px;
    }

    @media only screen and (max-width: 767px) {
      width: 220px;
      margin: 0 auto;
      font-size: 26px;
      line-height: 34px;

      br {
        display: none;
      }
    }
  }

  &__block {
    margin-top: 58px;

    @media only screen and (max-width: 1189px) {
      max-width: 610px;
      margin: 25px auto 0;
    }

    &-list {
      margin-left: -15px;
      margin-right: -15px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px 0;

      @media only screen and (max-width: 1189px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 36px 0;
      }
      @media only screen and (max-width: 767px) {
        gap: 36px 0;
      }
    }

    &-item {
      position: relative;
      padding: 0 15px;
    }

    .flex-col {
      position: relative;
      padding-top: 140px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      .image-1 {
        width: 198px;
      }
      .image-2,
      .image-3,
      .image-4,
      .image-5 {
        width: 180px;
      }

      .image-6 {
        width: 214px;
      }

      .image-7,
      .image-8 {
        width: 184px;
      }

      span {
        display: block;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
      }

      @media only screen and (max-width: 767px) {
        padding-top: 59px;

        .image-1 {
          width: 98px;
        }

        .image-2 {
          width: 79px;
        }

        .image-3 {
          width: 96px;
          left: 16px;
          top: -5px;
        }

        .image-4 {
          width: 100px;
          top: -7px;
        }

        .image-5 {
          width: 59px;
        }

        .image-6 {
          width: 110px;
          top: -5px;
        }

        .image-7,
        .image-8 {
          width: 90px;
        }

        span {
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }
}

// Success
.success {
  padding-top: 114px;
  padding-bottom: 90px;
  background-color: #fafafa;

  @media only screen and (max-width: 1189px) {
    padding: 48px 0 60px;
  }

  @media only screen and (max-width: 767px) {
    padding: 32px 0 35px;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 42px;
    line-height: 60px;

    @media only screen and (max-width: 1189px) {
      max-width: 594px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    @media only screen and (max-width: 767px) {
      font-size: 26px;
      line-height: 34px;
      text-align: left;
    }
  }

  &__block {
    position: relative;
    max-width: 540px;
    margin: 30px 0 0 30px;

    &:before {
      position: absolute;
      top: -645px;
      left: 180px;
      content: url(../images/success-image.png);
      transform: scale(0.5);
    }

    @media only screen and (max-width: 1189px) {
      position: relative;
      max-width: 594px;
      margin: 30px auto 0;
      padding-bottom: 750px;

      &:before {
        position: absolute;
        top: 8px;
        left: -422px;
      }
    }

    @media only screen and (max-width: 767px) {
      margin-top: 28px;
      padding-bottom: 300px;

      &:before {
        top: -182px;
        left: 50%;
        margin-left: -718px;
        transform: scale(0.2);
      }
    }

    &-item {
      position: relative;
      margin-bottom: 20px;
      padding-left: 70px;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;

      span {
        position: absolute;
        top: -6px;
        left: -4px;
        display: block;
        width: 54px;
        font-weight: 500;
        font-size: 42px;
        line-height: 42px;
        text-align: center;
        color: #f8b917;
      }

      strong {
        display: block;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }

      @media only screen and (max-width: 1189px) {
        max-width: 530px;
      }

      @media only screen and (max-width: 767px) {
        padding-left: 56px;
        font-size: 14px;
        line-height: 17px;

        &:nth-child(1) {
          max-width: 262px;
          margin-bottom: 28px;
        }

        &:nth-child(2) {
          max-width: 285px;
        }

        &:nth-child(3) {
          max-width: 262px;
          margin-top: 24px;
        }

        span {
          font-size: 32px;
          line-height: 32px;
        }

        strong {
          max-width: 200px;
          margin-bottom: 4px;
          font-size: 15px;
          line-height: 18px;
        }

        br {
          display: none;
        }
      }
    }
  }
}

// Digital
.digital {
  padding: 50px 0 70px;
  background: #fff;

  @media only screen and (max-width: 1189px) {
    padding: 60px 0;
  }
  @media only screen and (max-width: 767px) {
    padding: 35px 0 45px;
  }

  &__title {
    font-weight: 400;
    font-size: 42px;
    line-height: 60px;
    text-align: center;

    @media only screen and (max-width: 767px) {
      font-size: 26px;
      line-height: 34px !important;
    }
  }

  &__list {
    margin-top: 45px;
    margin-left: -15px;
    margin-right: -15px;
    @include flex-row(space-between, center);

    @media only screen and (max-width: 1189px) {
      margin-top: 36px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 38px 0;
    }
    @media only screen and (max-width: 767px) {
      margin-top: 6px;
      grid-template-columns: 1fr;
      gap: 6px 0;
    }
  }

  &__item {
    padding: 0 15px;
    text-align: center;

    &-value {
      color: #f8b917;
      font-weight: 700;
      font-size: 36px;
      line-height: 55px;

      @media only screen and (max-width: 767px) {
        font-size: 28px;
        line-height: 60px;
      }
    }

    &-text {
      font-size: 18px;
      line-height: 20px;

      @media only screen and (max-width: 767px) {
        font-size: 14px;
        margin-top: -10px;
      }
    }
  }
}

// Situation
.situation {
  padding: 80px 0 100px;
  background-color: #fafafa;

  @media only screen and (max-width: 1189px) {
    padding: 85px 0 105px;
  }

  @media only screen and (max-width: 767px) {
    padding: 30px 0 60px;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 42px;
    line-height: 60px;
    text-align: center;

    @media only screen and (max-width: 1189px) {
      line-height: 50px;
    }
    @media only screen and (max-width: 767px) {
      max-width: 240px;
      margin: 0 auto;
      font-size: 26px;
      line-height: 34px;
    }
  }

  &__list {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media only screen and (max-width: 1189px) {
      max-width: 610px;
      margin: 12px auto 0;
      grid-template-columns: repeat(2, 1fr);
      gap: 58px 0;
    }

    @media only screen and (max-width: 767px) {
      margin-top: 0;
      grid-template-columns: 1fr;
      gap: 7px 0;
    }
  }

  &__item {
    text-align: center;

    &-image {
      position: relative;
      height: 200px;
      margin-bottom: 22px;

      &::before {
        position: absolute;
        content: "";
        width: 210px;
        height: 120px;
        background-image: url(../images/situation-image-bg.png);
        background-size: 210px;
        background-repeat: no-repeat;
        z-index: 1;
      }

      &.img-1::before {
        top: 42px;
        left: 24px;
      }

      &.img-2::before {
        top: 42px;
        left: 72px;
      }

      &.img-3::before {
        top: 42px;
        left: 22px;
      }

      &.img-4::before {
        top: 48px;
        left: 52px;
      }

      img {
        position: absolute;
        z-index: 2;
      }

      .image-1 {
        top: 75px;
        left: -8px;
        max-width: 233px;
      }

      .image-2 {
        top: 21px;
        left: 71px;
        max-width: 140px;
      }

      .image-3 {
        top: -14px;
        left: 30px;
        max-width: 154px;
      }

      .image-4 {
        top: -4px;
        left: 83px;
        max-width: 179px;
      }
    }

    &-title {
      margin: 0 -30px 22px;
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
    }

    &-description {
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }

    @media only screen and (max-width: 1189px) {
      &-image {
        &.img-1::before {
          left: 54px;
        }

        &.img-3::before {
          left: 52px;
        }

        &.img-4::before {
          left: 22px;
        }

        .image-1 {
          left: 22px;
        }

        .image-3 {
          left: 60px;
        }

        .image-4 {
          left: 53px;
        }
      }
    }
    @media only screen and (max-width: 767px) {
      &-image {
        height: 202px;
        margin-bottom: 0;

        &.img-4::before {
          left: 50%;
          margin-left: -90px;
        }

        .image-1 {
          top: 86px;
          left: 50%;
          margin-left: -102px;
          max-width: 182px;
        }

        .image-2 {
          top: 28px;
          left: 50%;
          margin-left: -71px;
          max-width: 122px;
        }

        .image-3 {
          top: 4px;
          left: 50%;
          margin-left: -68px;
          max-width: 124px;
        }

        .image-4 {
          top: 18px;
          left: 50%;
          margin-left: -66px;
          max-width: 138px;
        }
      }

      &-title {
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 18px;
      }

      &-description {
        font-size: 14px;
        line-height: 17px;
      }

      br {
        display: none;
      }
    }
  }
}

// Phone answer
.answer {
  padding: 105px 0 76px;
  background: #fff;

  @media only screen and (max-width: 1189px) {
    padding: 49px 0 0;
  }

  @media only screen and (max-width: 767px) {
    padding: 25px 0 0;
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;

    @media only screen and (max-width: 767px) {
      font-size: 26px;
      line-height: 34px;
      text-align: center;
    }
  }

  &__block {
    position: relative;
    padding-left: 580px;

    @media only screen and (max-width: 1189px) {
      padding: 0;
      min-height: 586px;
    }

    &-image {
      position: absolute;
      top: -56px;
      left: -56px;
      width: 555px;
      height: 580px;
      background-image: url(../images/phone-answer-image.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 555px;

      @media only screen and (max-width: 1189px) {
        position: absolute;
        top: -27px;
        left: 397px;
        width: 566px;
        height: 620px;
        background-size: 566px;
      }

      @media only screen and (max-width: 767px) {
        position: absolute;
        top: 278px;
        left: 50%;
        width: 300px;
        height: 324px;
        margin-left: -150px;
        background-size: 300px;
        z-index: 1;
      }
    }

    &-text {
      position: absolute;
      height: 40px;
      font-style: italic;
      font-size: 18px;
      line-height: 40px;
      text-align: center;
      background-position: center;
      background-repeat: no-repeat;

      &.text-1 {
        top: 258px;
        left: 82px;
        width: 200px;
        background-image: url(../images/phone-answer-block-image-text-1.svg);
      }

      &.text-2 {
        top: 308px;
        left: 100px;
        width: 260px;
        background-image: url(../images/phone-answer-block-image-text-2.svg);
      }

      @media only screen and (max-width: 1189px) {
        &.text-1 {
          top: 276px;
          left: 60px;
        }
        &.text-2 {
          top: 330px;
          left: 76px;
        }
      }

      @media only screen and (max-width: 767px) {
        height: 27px;
        font-size: 12px;
        line-height: 27px;

        &.text-1 {
          top: 140px;
          left: 34px;
          width: 130px;
          background-size: 130px;
        }
        &.text-2 {
          top: 170px;
          left: 44px;
          width: 170px;
          background-size: 170px;
        }
      }
    }

    &-icon {
      position: relative;
      width: 371px;
      margin: 35px 0 22px;
      padding: 10px 30px 10px 71px;
      font-weight: 300;
      font-size: 20px;
      line-height: 38px;
      background-image: url(../images/icon-phone-answer.svg);
      background-repeat: no-repeat;
      background-position: 18px center;
      background-color: rgba(248, 185, 23, 0.1);
      border: 1px solid #f8b917;
      border-radius: 5px;

      @media only screen and (max-width: 1189px) {
        margin-bottom: 16px;
      }
      @media only screen and (max-width: 767px) {
        width: 100%;
        margin-top: 18px;
        margin-bottom: 19px;
        padding: 5px 30px 5px 60px;
        font-size: 14px;
        background-position: 13px center;
      }
    }

    &-call {
      display: inline-block;
      margin-top: 26px;
      padding-left: 34px;
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
      color: #333;
      background-image: url(../images/icon-call.svg);
      background-repeat: no-repeat;
      background-position: 0 center;

      @media only screen and (max-width: 1189px) {
        margin-top: 20px;
      }

      @media only screen and (max-width: 767px) {
        display: block;
        width: 236px;
        margin: 12px auto 0;
        font-size: 21px;
      }
    }
  }

  &__list {
    margin-bottom: 30px;
    margin-left: 38px;

    @media only screen and (max-width: 1189px) {
      max-width: 380px;
      margin-left: 0;
    }
    @media only screen and (max-width: 767px) {
      margin-bottom: 275px;
    }

    &-item {
      margin-bottom: 15px;
      padding-left: 30px;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      background-image: url(../images/icon-check.svg);
      background-position: 0px 2px;
      background-repeat: no-repeat;

      @media only screen and (max-width: 767px) {
        min-height: 22px;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  .flex-row {
    margin-top: 30px;
    display: flex;

    @media only screen and (max-width: 1189px) {
      flex-direction: column;
    }

    .btn-main {
      padding: 30px 10px;
      width: 300px;
      margin-right: 21px;
      font-weight: 700;
      font-size: 19px;
      line-height: 20px;

      @media only screen and (max-width: 767px) {
        position: relative;
        display: block;
        width: 260px;
        margin: 0 auto;
        z-index: 2;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
      }
    }

    .text {
      width: 240px;
      margin-top: 30px;
      font-size: 13px;
      line-height: 15px;

      a {
        font-weight: 500;
        text-decoration: underline;
        color: #f8b917;
      }

      @media only screen and (max-width: 1189px) {
        float: none;
        margin-top: 26px;
      }
      @media only screen and (max-width: 767px) {
        margin: 13px auto 0;
      }
    }
  }
}

// Reviews
.reviews {
  padding: 60px 0 28px;
  background: #fff;

  @media only screen and (max-width: 1189px) {
    padding: 47px 0 24px;
  }

  &__title {
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    text-align: center;

    @media only screen and (max-width: 1189px) {
      line-height: 50px;

      span.item-2 {
        display: block;
      }
    }
    @media only screen and (max-width: 767px) {
      font-size: 26px;
      line-height: 34px;

      span.item-1 {
        display: block;
      }

      br {
        display: none;
      }
    }
  }

  &__list {
    margin-top: 34px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media only screen and (max-width: 1189px) {
      margin-top: 22px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 767px) {
      margin-top: 28px;
      grid-template-columns: 1fr;
      gap: 20px;
    }

    .col-item.hide {
      display: none;
    }
  }

  &__item {
    position: relative;
    margin: 0 auto 12px;

    &-cover {
      position: relative;
      border-radius: 5px;
      overflow: hidden;

      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #333333;
        opacity: 0.75;
        z-index: 2;
      }

      img {
        position: relative;
        z-index: 1;
      }
    }

    &-play {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60px;
      height: 60px;
      margin-left: -30px;
      margin-top: -30px;
      background-image: url(../images/icon-play-video-green.svg);
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.2s;
      z-index: 3;

      @media only screen and (max-width: 767px) {
        width: 50px;
        height: 50px;
        margin-left: -25px;
        margin-top: -25px;
        background-size: 50px;
      }
    }

    &-name {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 19px;
      line-height: 26px;
      text-align: center;

      @media only screen and (max-width: 767px) {
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 20px;
      }
    }

    &-text {
      font-size: 17px;
      line-height: 24px;
      text-align: center;

      @media only screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &__more {
    margin-top: 50px;
    width: 100%;
    @include flex-row;

    .btn-more {
      padding-bottom: 4px;
      color: #f8b917;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      border-bottom: 1px dashed #f8b917;
      transition: all 0.2s;
      cursor: pointer;
    }

    @media only screen and (max-width: 767px) {
      margin-top: 35px;

      .btn-more {
        font-size: 15px;
        line-height: 18px;
      }
    }
  }
}

// Today
.today {
  padding: 60px 0;

  @media only screen and (max-width: 767px) {
    padding: 42px 0 55px;
  }

  &__title {
    font-weight: 400;
    font-size: 42px;
    line-height: 60px;
    text-align: center;

    @media only screen and (max-width: 1189px) {
      max-width: 480px;
      margin: 0 auto;
      line-height: 50px;
    }

    @media only screen and (max-width: 767px) {
      font-size: 26px;
      line-height: 34px;
    }
  }

  &__list {
    margin-top: 34px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @media only screen and (max-width: 1189px) {
      max-width: 570px;
      margin: 26px auto 0;
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 767px) {
      max-width: 270px;
      margin: 20px auto 0;
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  &__item {
    position: relative;
    height: 390px;
    padding: 30px 16px 20px 20px;
    border: 1px solid #f4f4f4;
    background-size: 284px;
    background-repeat: no-repeat;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    overflow: hidden;

    &::before {
      position: absolute;
      content: "";
      width: 270px;
      height: 200px;
      bottom: -30px;
      right: -18px;
      background-image: url(../images/today-image-bg.png);
      background-size: 270px;
      background-repeat: no-repeat;
      z-index: 1;
    }

    @media only screen and (max-width: 767px) {
      height: auto;
      padding-top: 24px;

      &::before {
        display: none;
      }
    }

    &-number {
      position: absolute;
      top: 30px;
      right: 19px;
      font-weight: 300;
      font-size: 36px;
      line-height: 22px;
      color: #d1d1d1;

      @media only screen and (max-width: 767px) {
        top: 21px;
      }
    }

    &-name {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 20px;
      line-height: 22px;

      @media only screen and (max-width: 767px) {
        margin-bottom: 16px;
        font-size: 15px;
      }
    }

    &-text {
      font-weight: 300;
      font-size: 17px;
      line-height: 22px;

      @media only screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 17px;
      }
    }

    &-call {
      display: inline-block;
      margin-top: 14px;
      font-size: 24px;
      line-height: 24px;
      color: #333333;
    }

    &-image {
      position: absolute;
      z-index: 2;

      &.image-1 {
        bottom: 0;
        right: 15px;
        width: 200px;
      }

      &.image-2 {
        bottom: -40px;
        right: 56px;
        width: 189px;
      }

      &.image-3 {
        bottom: -40px;
        right: -15px;
        width: 279px;
      }

      &.image-4 {
        bottom: 0;
        right: 51px;
        width: 168px;
      }

      @media only screen and (max-width: 1189px) {
        &.image-3 {
          bottom: -37px;
          right: -8px;
        }
      }

      @media only screen and (max-width: 767px) {
        display: none !important;
      }
    }
  }

  &__actions {
    margin-top: 70px;
    @include flex-row;

    .btn-main {
      padding: 30px 10px;
      font-weight: 700;
      font-size: 19px;
      line-height: 20px;
      width: 300px;
    }

    @media only screen and (max-width: 1189px) {
      margin-top: 30px;
    }
    @media only screen and (max-width: 767px) {
      margin-top: 20px;

      .btn-main {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
        width: 270px;
      }
    }
  }
}

// Documents
.documents {
  padding: 120px 0 114px;
  background-color: #fafafa;

  @media only screen and (max-width: 1189px) {
    padding: 100px 0;
  }
  @media only screen and (max-width: 767px) {
    padding: 55px 0 295px;
  }

  &__block {
    position: relative;
    padding-left: 600px;

    @media only screen and (max-width: 1189px) {
      padding-left: 295px;
    }
    @media only screen and (max-width: 767px) {
      padding: 0;
    }

    &-image {
      position: absolute;
      top: -158px;
      left: 28px;
      width: 710px;

      @media only screen and (max-width: 1189px) {
        top: -110px;
        left: -157px;
        width: 590px;
        max-width: 590px;
      }

      @media only screen and (max-width: 767px) {
        top: 190px;
        left: 50%;
        width: 400px;
        max-width: 400px;
        margin-left: -188px;
      }
    }
  }

  &__list {
    margin-top: 30px;

    @media only screen and (max-width: 767px) {
      margin-top: 19px;
      margin-left: 7px;
    }

    &-item {
      margin-bottom: 16px;
      padding-left: 37px;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      background-image: url(../images/icon-check.svg);
      background-position: 0px 2px;
      background-repeat: no-repeat;

      strong {
        font-weight: 500;
      }

      @media only screen and (max-width: 767px) {
        margin-bottom: 18px;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  &__title {
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;

    @media only screen and (max-width: 767px) {
      margin: 0 -10px;
      text-align: center;
      font-size: 26px;
      line-height: 34px;

      br {
        display: none;
      }

      span {
        display: block;
      }
    }
  }
}

// Partners
.partners {
  padding: 45px 0 100px;

  @media only screen and (max-width: 1189px) {
    padding: 40px 0 58px;
  }

  @media only screen and (max-width: 767px) {
    padding: 23px 0 10px;
  }

  &__title {
    font-weight: 400;
    font-size: 42px;
    line-height: 55px;
    text-align: center;

    @media only screen and (max-width: 1189px) {
      br {
        display: none;
      }
    }
    @media only screen and (max-width: 767px) {
      font-size: 26px;
      line-height: 34px;

      span {
        display: block;
      }
    }
  }

  &__list {
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    overflow: hidden;

    @media only screen and (max-width: 1189px) {
      max-width: 574px;
      margin: 14px auto 0;
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }

    &-item {
      position: relative;
      padding: 20px;
      height: 126px;

      &:nth-child(n + 6) {
        border-top: 1px solid #f4f4f4;
      }

      &:not(:nth-child(6)):not(:nth-child(12)) {
        border-right: 1px solid #f4f4f4;
      }

      @media only screen and (max-width: 1189px) {
        border-right: 1px solid #f4f4f4 !important;

        &:nth-child(n + 3) {
          border-top: 1px solid #f4f4f4;
        }

        &:not(:nth-child(6)):not(:nth-child(12)) {
          border-right: unset;
        }

        &:nth-child(3),
        &:nth-child(6),
        &:nth-child(9),
        &:nth-child(12) {
          border-right: none !important;
        }
      }

      @media only screen and (max-width: 767px) {
        padding: 15px;
        display: block !important;
        height: 67px;
        border-right: none !important;
        border-right: 1px solid #f4f4f4 !important;

        &:nth-child(n + 2) {
          border-top: 1px solid #f4f4f4;
        }

        &:nth-child(3),
        &:nth-child(6),
        &:nth-child(9),
        &:nth-child(12) {
          border-right: unset;
        }

        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(6),
        &:nth-child(8),
        &:nth-child(10),
        &:nth-child(12) {
          border-right: none !important;
        }

        &:nth-child(3),
        &:nth-child(9) {
          border-right: 1px solid #f4f4f4 !important;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

// Fast
.fast {
  padding: 86px 0 70px;
  background-color: #fafafa;

  @media only screen and (max-width: 1189px) {
    padding: 31px 0 82px;
  }
  @media only screen and (max-width: 767px) {
    padding: 32px 0 45px;
  }

  &__title {
    font-weight: 400;
    font-size: 42px;
    line-height: 46px;

    strong {
      display: block;
      margin-top: 6px;
    }

    @media only screen and (max-width: 1189px) {
      text-align: center;

      strong {
        margin-top: 0;
      }
    }

    @media only screen and (max-width: 767px) {
      font-size: 26px;
      line-height: 34px;
    }
  }

  &__block {
    position: relative;
    width: 100%;
    @include flex-row(space-between);

    @media only screen and (max-width: 1189px) {
      flex-direction: column;
      align-items: center;
    }

    &-text {
      padding: 0 10px;

      @media only screen and (max-width: 767px) {
        margin-left: -10px;
        margin-right: -10px;
      }
    }

    &-form {
      position: relative;
      padding: 0 10px;

      @media only screen and (max-width: 1189px) {
        width: 100%;
      }
      @media only screen and (max-width: 767px) {
        padding: 0;
      }
    }

    &-image {
      position: absolute;
      top: -69px;
      left: -352px;
      max-width: 555px;

      @media only screen and (max-width: 1189px) {
        top: 38px;
        left: -43px;
      }

      @media only screen and (max-width: 767px) {
        display: none;
      }
    }

    &-list {
      margin-top: 30px;
      margin-left: 50px;
      @include flex-col(flex-start);

      @media only screen and (max-width: 1189px) {
        margin-top: 30px;
        margin-left: 0;
        overflow: hidden;
        flex-direction: row;
        white-space: nowrap;
        gap: 20px;
      }
      @media only screen and (max-width: 767px) {
        margin-top: 22px;
        margin-left: 10px;
        flex-direction: column;
        gap: 0;
      }
    }

    &-item {
      margin-bottom: 19px;
      padding-left: 33px;
      font-size: 19px;
      line-height: 22px;
      background-image: url(../images/icon-check.svg);
      background-position: 0px 2px;
      background-repeat: no-repeat;

      @media only screen and (max-width: 767px) {
        margin-bottom: 9px;
        padding-left: 32px;
        font-size: 14px;
      }
    }

    &-important {
      width: 465px;
      margin-top: 35px;
      padding: 26px 20px 22px 164px;
      font-size: 16px;
      line-height: 19px;
      background-color: rgba(248, 185, 23, 0.05);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 165px;
      background-image: url(../images/fast-important-image.png);
      border: 1px solid rgba(248, 185, 23, 0.3);
      border-radius: 5px;

      strong {
        display: block;
        margin-bottom: 6px;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
      }

      @media only screen and (max-width: 1189px) {
        position: relative;
        left: -25px;
        margin: 17px auto 0;
      }

      @media only screen and (max-width: 767px) {
        width: auto;
        left: 0;
        margin-top: 23px;
        padding: 12px 5px 13px 108px;
        font-size: 14px;
        line-height: 17px;
        background-size: 105px;

        strong {
          font-size: 15px;
          line-height: 18px;
        }

        br {
          display: none;
        }
      }
    }
  }

  .form {
    position: relative;
    margin-top: -32px;
    padding: 42px 45px 45px;
    width: 390px;
    background: #ffffff;
    box-shadow: 10px 15px 50px rgb(0 0 0 / 8%);
    border-radius: 5px;
    background: #ffffff;
    border-radius: 5px;
    z-index: 2;

    @media only screen and (max-width: 1189px) {
      width: 390px;
      margin-top: 76px;
      margin-right: 8px;
      margin-left: auto;
    }

    @media only screen and (max-width: 767px) {
      width: 100%;
      margin-top: 20px;
      margin-right: 0;
      padding: 26px 20px 20px;
    }

    &-title {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 28px;
      text-align: center;

      strong {
        font-weight: 500;
      }

      @media only screen and (max-width: 767px) {
        font-size: 19px;
        line-height: 22px;
      }
    }

    &-description {
      margin: 0 0 20px;
      font-size: 17px;
      line-height: 24px;
      text-align: center;

      @media only screen and (max-width: 767px) {
        margin: 0 -10px 18px;
        font-size: 14px;
        line-height: 17px;

        br {
          display: none;
        }
      }
    }

    input {
      margin-bottom: 14px;
    }

    .btn-main {
      padding: 30px 10px;
      width: 100%;
      font-weight: 700;
      font-size: 19px;
      line-height: 20px;

      @media only screen and (max-width: 767px) {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
      }
    }

    &-info {
      margin-top: 20px;
      margin-left: -15px;
      margin-right: -15px;
      font-size: 12px;
      line-height: 14px;
      text-align: center;

      a {
        font-weight: 500;
        text-decoration: underline;
        color: #f8b917;
      }

      @media only screen and (max-width: 767px) {
        margin-top: 22px;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}

// Faq
.faq {
  padding: 45px 0 52px;

  @media only screen and (max-width: 1189px) {
    padding: 6px 0 56px;
  }
  @media only screen and (max-width: 767px) {
    padding: 40px 0 48px;
  }

  &__title {
    font-weight: 400;
    font-size: 42px;
    line-height: 60px;
    text-align: center;

    @media only screen and (max-width: 1189px) {
      line-height: 50px;
    }

    @media only screen and (max-width: 767px) {
      font-size: 26px;
      line-height: 34px;

      span {
        display: block;
      }
    }
  }

  &__accordions {
    margin-top: 33px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    & > .flex-col {
      width: 100%;
      @include flex-col(flex-start, flex-start, 30px);
    }

    @media only screen and (max-width: 1189px) {
      grid-template-columns: 1fr;
      gap: 20px;

      & > .flex-col {
        gap: 20px;
      }
    }
    @media only screen and (max-width: 767px) {
      gap: 10px;

      & > .flex-col {
        gap: 10px;
      }
    }
  }

  .accordion {
    position: relative;
    width: 100%;
    background: #ffffff;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    overflow: hidden;

    &__header {
      padding: 0 20px;
      height: 78px;
      width: 100%;
      @include flex-row(space-between, center, 80px);
      cursor: pointer;

      @media only screen and (max-width: 767px) {
        gap: 15px;
      }

      &-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;

        @media only screen and (max-width: 767px) {
          font-size: 14px;
          line-height: 17px;
        }
      }

      &-icon {
        min-width: 15px;
        width: 15px;
        height: 15px;
        transition: var(--transition);

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__body {
      max-height: 0;
      transition: max-height 0.3s ease-in-out;
      overflow: hidden;
    }

    &__content {
      padding-bottom: 20px;
      @include flex-col(flex-start, flex-start, 20px);

      &-text {
        padding: 15px 20px;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;

        @media only screen and (max-width: 767px) {
          font-size: 14px;
          line-height: 17px;
        }
      }

      ul {
        margin-top: 20px;
        padding-left: 20px;
        list-style-type: disc;

        @media only screen and (max-width: 767px) {
          margin-top: 10px;
        }
      }
    }

    &.active {
      border-top: 3px solid #f8b917;

      .accordion__header {
        border-bottom: 1px solid #f4f4f4;
      }
      .accordion__header-icon {
        transform: rotate(-90deg);
      }
    }
  }
}

// Contacts
.contacts {
  position: relative;

  @media only screen and (max-width: 767px) {
    padding: 0 0 162px;
  }

  .container {
    position: relative;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 60px;

    @media only screen and (max-width: 767px) {
      margin-bottom: 24px;
      font-size: 24px;
      line-height: 34px;

      strong {
        display: block;
      }
    }
  }

  &__block {
    position: absolute;
    top: 95px;
    left: 10px;
    width: 455px;
    padding: 21px 21px 30px 42px;
    background: #ffffff;
    box-shadow: 10px 15px 50px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    z-index: 2;

    @media only screen and (max-width: 1189px) {
      top: 46px;
      left: 20px;
    }

    @media only screen and (max-width: 767px) {
      width: auto;
      padding: 20px 20px 22px;
      top: 320px;
      left: 10px;
      right: 10px;
      text-align: center;
    }

    &-row {
      margin-top: 19px;
      width: 100%;
      @include flex-row(space-between);

      @media only screen and (max-width: 767px) {
        flex-direction: column;
        gap: 23px;
      }
    }

    &-title {
      margin-bottom: 7px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;

      @media only screen and (max-width: 767px) {
        margin-bottom: 5px;
        font-size: 15px;
        line-height: 18px;
      }
    }

    &-text {
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;

      @media only screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  &__map {
    position: relative;
    display: block;
    width: 100%;
    height: 520px;
    border: none;
    z-index: 1;

    @media only screen and (max-width: 1189px) {
      height: 620px;
    }

    @media only screen and (max-width: 767px) {
      height: 520px;
    }
  }
}

// Footer
.footer {
  padding: 20px 0 24px;
  color: #fff;
  background: #2c353f;

  @media only screen and (max-width: 1189px) {
    padding: 23px 0 8px;
  }
  @media only screen and (max-width: 767px) {
    padding: 30px 0 22px;
  }

  &__list {
    width: 100%;
    @include flex-row(space-between, flex-start, 20px);

    @media only screen and (max-width: 1189px) {
      flex-wrap: wrap;
    }
    @media only screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      gap: 0;

      &-item:nth-child(1) {
        order: 1;
      }
      &-item:nth-child(2) {
        order: 5;
      }
      &-item:nth-child(3) {
        order: 3;
      }
      &-item:nth-child(4) {
        order: 4;
      }
    }
  }

  &__logo {
    @include flex-row(flex-start, center, 12px);

    img {
      width: 44px;
      height: 44px;
    }

    .flex-col {
      font-size: 18px;
      font-weight: bold;
      line-height: 21px;
      @include flex-col(flex-start, center);
    }

    span {
      font-size: 13px;
      font-weight: 400;
      line-height: 15px;
    }

    @media only screen and (max-width: 767px) {
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 10px;

      img {
        width: 48px;
        height: 48px;
      }

      .flex-col {
        align-items: center;
        gap: 4px;
      }
    }
  }

  &__privacy {
    margin-top: 20px;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #f8b917;
    display: block;

    @media only screen and (max-width: 767px) {
      text-align: center;
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__company {
    margin-top: 10px;
    @include flex-col(flex-start);

    @media only screen and (max-width: 767px) {
      width: 100%;
      text-align: center;
    }

    span {
      width: 100%;
      color: #abb3bc;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 1px;
    }
  }

  &__menu {
    margin-top: 10px;
    width: 100%;
    @include flex-col(flex-start, flex-start, 12px);

    @media only screen and (max-width: 767px) {
      margin-top: 20px;
      align-items: center;
      gap: 10px;
    }

    a {
      color: #f8b917;
      font-size: 17px;
      line-height: 22px;

      &:hover {
        text-decoration: underline;
      }

      @media only screen and (max-width: 767px) {
        font-size: 15px;
      }
    }
  }

  &__office,
  &__work {
    &-title {
      margin: 10px 0 8px;
      font-weight: 500;
      font-size: 17px;
      line-height: 22px;
      color: #ffffff;

      @media only screen and (max-width: 1189px) {
        margin-top: 14px;
      }
      @media only screen and (max-width: 767px) {
        margin-bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 15px;
        line-height: 22px;
      }
    }

    &-info {
      font-weight: 300;
      font-size: 17px;
      line-height: 22px;
      color: #ffffff;

      @media only screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 22px;
      }
    }

    a {
      display: inline-block;
      margin-top: 10px;
      font-weight: 500;
      font-size: 19px;
    }
  }

  &__bottom {
    margin-top: 25px;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #9da8b4;
    @include flex-col(center, center, 10px);

    @media only screen and (max-width: 1189px) {
      position: relative;
      margin-top: 12px;
      padding-top: 22px;
    }
    @media only screen and (max-width: 767px) {
      margin-top: 6px;
      font-size: 13px;
      line-height: 22px;
    }
  }
}
