@import "./base/mixins";
@import "./base/normalize";
@import "./slider";

// Header
.header {
  position: fixed;
  padding: 17px 0 23px;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  z-index: 9;

  @media only screen and (max-width: 767px) {
    padding: 15px 0 25px;
  }

  .container {
    @include flex-row(space-between, center);

    @media only screen and (max-width: 767px) {
      align-items: flex-start;
    }
  }

  &__logo {
    @include flex-row(flex-start, center, 12px);

    img {
      width: 44px;
      height: 44px;
    }

    .flex-col {
      font-size: 18px;
      font-weight: bold;
      line-height: 21px;
      @include flex-col(flex-start, center);
    }

    span {
      font-size: 13px;
      font-weight: 400;
      line-height: 15px;
    }

    @media only screen and (max-width: 767px) {
      width: 125px;
      align-items: flex-start;
      gap: 10px;

      img {
        margin-top: -2px;
        margin-left: -2px;
        width: 29px;
        height: 29px;
      }

      .flex-col {
        font-size: 11px;
        line-height: 11px;
      }

      span {
        margin-top: 5px;
        font-size: 10px;
        line-height: 12px;
      }
    }
  }

  &__phone {
    margin-left: auto;
    margin-right: 65px;
    @include flex-col(flex-start, center);

    a {
      font-size: 21px;
      line-height: 25px;
      color: var(--gray);
    }

    span {
      position: relative;
      padding-left: 13px;
      margin-top: 6px;
      font-size: 14px;
      line-height: 17px;

      &:before {
        position: absolute;
        content: "";
        top: 50%;
        left: 2px;
        width: 6px;
        height: 6px;
        margin-top: -3px;
        background: linear-gradient(180deg, #73eb95 0%, #24be62 100%);
        border-radius: 50%;
      }
    }

    @media only screen and (max-width: 1189px) {
      margin-right: 20px;
    }
    @media only screen and (max-width: 767px) {
      margin-top: -4px;
      margin-right: 0;
      align-items: flex-end;

      a {
        text-align: right;
        font-size: 17px;
        line-height: 22px;
      }

      span {
        max-width: 125px;
        font-size: 11px;
        line-height: 14px;
        text-align: right;

        &:before {
          display: none;
        }
      }
    }
  }

  &__btn {
    position: relative;
    padding-left: 50px;
    width: 205px;
    height: 50px;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;

    &::before {
      content: "";
      position: absolute;
      top: 16px;
      left: 20px;
      content: url(../images/icon-call-white.svg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 57px;
      content: url(../images/icon-call-line.svg);
    }

    @media only screen and (max-width: 1189px) {
      width: 60px;

      &::after {
        display: none;
      }

      span {
        display: none;
      }
    }

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}

// Intro
.intro {
  position: relative;
  padding: 190px 0 105px;
  width: 100%;

  @media only screen and (max-width: 1189px) {
    padding: 152px 0 85px;
  }
  @media only screen and (max-width: 767px) {
    padding: 114px 0 66px;
  }

  .container {
    @include flex-row(space-between, center, 44px);

    @media only screen and (max-width: 1189px) {
      flex-direction: column;
      align-items: center;
    }
    @media only screen and (max-width: 767px) {
      gap: 34px;
    }
  }

  &__text {
    margin-top: -40px;
    width: 100%;
    max-width: 780px;
    @include flex-col(flex-start, center);

    @media only screen and (max-width: 1189px) {
      margin-top: 0;
      max-width: 100%;
    }

    &-title {
      margin: 0 0 16px;
      font-size: 48px;
      line-height: 57px;

      @media only screen and (max-width: 1189px) {
        width: 100%;
        text-align: center;
      }

      @media only screen and (max-width: 767px) {
        font-size: 32px;
        line-height: 38px;
      }
    }

    &-subtitle {
      width: 350px;
      font-style: italic;
      font-weight: 500;
      font-size: 21px;
      line-height: 50px;
      text-align: center;
      color: #f8b917;
      background-image: url(../images/first-block-text-bg.svg);
      background-repeat: no-repeat;
      background-position: center;

      &:nth-child(2) {
        margin-left: 24px;
      }
      &:nth-child(3) {
        margin-top: -1px;
        margin-left: 55px;
        margin-bottom: 22px;
      }

      @media only screen and (max-width: 1189px) {
        &:nth-child(2) {
          margin-left: 164px;
        }
        &:nth-child(3) {
          margin-left: 194px;
        }
      }

      @media only screen and (max-width: 767px) {
        position: relative;
        margin-left: auto !important;
        margin-right: auto !important;
        font-size: 14px;
        line-height: 42px;

        &:nth-child(2),
        &:nth-child(3) {
          width: 280px;
          background-size: 280px;
        }

        &:nth-child(2) {
          left: -6px;
        }

        &:nth-child(3) {
          left: 9px;
          margin-top: -2px;
          margin-bottom: 16px;
        }
      }
    }
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: 315px 400px;
    gap: 20px;

    @media only screen and (max-width: 1189px) {
      grid-template-columns: 300px 388px;
    }
    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    &-item {
      position: relative;
      padding: 26px 20px 26px 120px;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
      background: #ffffff;
      box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      @include flex-row(flex-start, center, 15px);

      img {
        position: absolute;
        left: 8px;
        width: auto;
      }

      strong {
        font-weight: 500;
      }

      &:nth-child(1) img {
        height: 105px;
      }

      &:nth-child(2) img {
        left: 20px;
        height: 74px;
      }

      &:nth-child(3) img {
        left: 25px;
        height: 71px;
      }

      &:nth-child(4) img {
        height: 76px;
      }

      @media only screen and (max-width: 1189px) {
        padding-left: 110px;
        padding-right: 10px;
      }
      @media only screen and (max-width: 767px) {
        padding: 12px 0px 14px 87px;
        font-size: 14px;
        line-height: 17px;

        img {
          left: 10px;
        }

        &:nth-child(1) img {
          height: 68px;
        }

        &:nth-child(2) img {
          height: 48px;
        }

        &:nth-child(3) img {
          left: 25px;
          height: 45px;
        }

        &:nth-child(4) img {
          height: 45px;
        }
      }
    }
  }

  &__form {
    position: relative;
    margin-top: 10px;
    padding: 42px 45px 45px;
    background: #ffffff;
    box-shadow: 10px 15px 50px rgba(0, 0, 0, 0.08);
    border-radius: 5px;

    &::before {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      content: "";
      border: 1px solid #f4f4f4;
      border-radius: 5px;
    }

    .image-1 {
      position: absolute;
      top: 150px;
      left: 485px;
    }

    .image-2 {
      position: absolute;
      top: -10px;
      left: 355px;
      z-index: 6;
    }

    .image-3 {
      position: absolute;
      top: 10px;
      left: -115px;
    }

    .image-4 {
      position: absolute;
      top: 20px;
      left: -70px;
      max-width: 530px;
      z-index: -2;
    }

    &-content {
      position: relative;
      width: 100%;
      z-index: 2;
    }

    &-title {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 28px;
      text-align: center;

      strong {
        font-weight: 500;
      }
    }

    input {
      margin-bottom: 14px;
    }

    button {
      padding: 30px 10px;
      width: 100%;
      font-size: 19px;
      font-weight: 700;
      line-height: 20px;
      text-align: center;
    }

    &-info {
      margin-top: 20px;
      margin-left: -15px;
      margin-right: -15px;
      font-size: 12px;
      line-height: 14px;
      text-align: center;

      a {
        font-weight: 500;
        text-decoration: underline;
        color: #f8b917;
      }
    }

    @media only screen and (max-width: 1189px) {
      margin-top: 0;
      max-width: 390px;
      margin: 0 auto;
    }

    @media only screen and (max-width: 767px) {
      padding: 31px 20px 26px;

      &::before {
        display: none;
      }

      .image-1,
      .image-2,
      .image-3 {
        display: none;
      }

      .image-4 {
        top: -20px;
        left: 50%;
        margin-left: -235px;
        max-width: 470px;
      }

      &-title {
        font-size: 19px;
        line-height: 22px;
      }

      button {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
      }

      &-info {
        margin-top: 22px;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}

// Calculator
.calculator {
  position: relative;
  padding: 55px 0 30px;
  height: 590px;
  background-color: #fafafa;

  @media only screen and (max-width: 1189px) {
    height: auto;
    padding: 30px 0 42px;
  }
  @media only screen and (max-width: 767px) {
    padding: 2px 0 48px;
  }

  .container {
    position: relative;
    @include flex-row(flex-start, center, 48px);

    @media only screen and (max-width: 1189px) {
      flex-direction: column-reverse;
      gap: 0;
    }
  }

  &__form {
    position: relative;
    padding: 41px 44px 40px;
    width: 100%;
    max-width: 390px;
    background: #fff;
    box-shadow: 10px 15px 50px rgb(0 0 0 / 8%);
    border-radius: 5px;

    @media only screen and (max-width: 767px) {
      padding: 26px 20px 20px;
    }

    &-text {
      margin-bottom: 3px;
      font-size: 19px;
      line-height: 28px;
      text-align: center;

      @media only screen and (max-width: 767px) {
        margin-bottom: 7px;
        font-size: 15px;
      }
    }

    &-result {
      margin: 0 -40px 14px;
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      text-align: center;
      color: #f8b917;
      text-align: center;

      @media only screen and (max-width: 767px) {
        margin: 0 -20px 18px;
        font-size: 36px;
        line-height: 42px;
      }
    }

    &-value-text {
      position: relative;
      margin-bottom: 4px;
      font-size: 19px;
      line-height: 28px;
      text-align: center;

      &:before {
        position: absolute;
        content: "";
        left: -34px;
        right: -34px;
        bottom: -70px;
        height: 1px;
        background: #f4f4f4;
      }

      @media only screen and (max-width: 767px) {
        margin-bottom: 0;
        font-size: 15px;
      }
    }

    &-value {
      margin-bottom: 58px;
      font-weight: 700;
      font-size: 36px;
      line-height: 28px;
      text-align: center;

      @media only screen and (max-width: 767px) {
        position: relative;
        margin-bottom: 42px;
        font-weight: 700;
        font-size: 32px;
      }
    }

    input {
      margin: 20px 0 14px;
    }

    .btn-main {
      padding: 30px 10px;
      width: 100%;
      font-size: 19px;
      font-weight: 700;
      line-height: 20px;

      @media only screen and (max-width: 767px) {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
      }
    }

    &-info {
      margin-top: 20px;
      margin-left: -15px;
      margin-right: -15px;
      font-size: 12px;
      line-height: 14px;
      text-align: center;

      a {
        font-weight: 500;
        text-decoration: underline;
        color: #f8b917;
      }

      @media only screen and (max-width: 767px) {
        margin-top: 22px;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  &__content {
    width: 100%;

    @media only screen and (max-width: 1189px) {
      margin-top: 24px;
    }

    &-title {
      margin-bottom: 36px;
      font-weight: 400;
      font-size: 42px;
      line-height: 60px;

      @media only screen and (max-width: 1189px) {
        margin-bottom: 18px;
        text-align: center;

        br {
          display: none;
        }
      }

      @media only screen and (max-width: 767px) {
        max-width: 270px;
        margin: 0 auto 20px;
        font-size: 26px;
        line-height: 34px;
      }
    }
  }

  &__block {
    position: relative;
    width: 525px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 10px 15px 50px rgba(0, 0, 0, 0.08);
    border-radius: 5px;

    @media only screen and (max-width: 1189px) {
      margin: 0 auto 30px;
    }

    @media only screen and (max-width: 767px) {
      width: auto;
      margin-bottom: 20px;
      padding: 30px 15px 16px;
    }

    &-container {
      position: relative;
      padding: 28px 35px 30px;
      border: 1px solid #f4f4f4;
      border-radius: 5px;
      z-index: 2;

      @media only screen and (max-width: 767px) {
        border: 0;
        padding: 0;
      }
    }

    &_item-line {
      position: relative;
      margin-bottom: 28px;
      padding-bottom: 22px;
      line-height: 40px;

      @media only screen and (max-width: 767px) {
        &:last-child:before {
          position: absolute;
          content: "";
          top: -10px;
          left: -15px;
          right: -15px;
          height: 1px;
          background: #f4f4f4;
        }
      }

      span {
        float: left;
        font-weight: 500;
        font-size: 17px;
        line-height: 38px;

        @media only screen and (max-width: 767px) {
          display: block;
          float: none;
          margin-bottom: 6px;
          font-size: 15px;
          line-height: 24px;
          text-align: center;
        }
      }

      input {
        float: right;
        width: 140px;
        padding: 4px 12px;
        text-align: center;

        @media only screen and (max-width: 767px) {
          float: none;
          margin: 0 auto 2px;
        }
      }
    }

    &_item-line-text-left,
    &_item-line-text-right {
      position: absolute;
      bottom: 0;
      font-size: 13px;
      line-height: 24px;

      @media only screen and (max-width: 767px) {
        &_item-line-text-left,
        &_item-line-text-right {
          font-size: 11px;
        }
      }
    }

    &_item-line-text-left {
      left: 0;
    }

    &_item-line-text-right {
      right: 0;
    }
  }

  &__img {
    position: absolute;
    top: -112px;
    right: -220px;
    max-width: 507px;
    z-index: 1;

    @media only screen and (max-width: 1189px) {
      top: 0px;
      right: -321px;
    }

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}

.se {
  height: 200vh;
}
